/* credit vercel for the font, dunno if i have to*/

/* Geist from vercel */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* GeistMono from vercel */
@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inspired by Vercel */

@layer base {
  /* root is light mode*/
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --scrollbar-track: 240 4.8% 95.9%;
    --scrollbar-thumb: 240 5.9% 85%;
    --scrollbar-thumb-hover: 240 5.9% 75%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
    --scrollbar-track: 240 3.7% 15.9%;
    --scrollbar-thumb: 240 3.7% 25%;
    --scrollbar-thumb-hover: 240 3.7% 35%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .life {
    --background: 150 50% 92%; 
    --foreground: 150 20% 15%; 
    --card: 150 40% 85%;
    --card-foreground: 150 25% 20%;
    --popover: 160 45% 90%; 
    --popover-foreground: 150 25% 15%;
    --primary: 150 35% 40%; 
    --primary-foreground: 150 15% 85%; 
    --secondary: 160 25% 65%;
    --secondary-foreground: 150 15% 20%;
    --muted: 140 20% 75%; 
    --muted-foreground: 150 15% 35%;
    --accent: 160 25% 70%; 
    --accent-foreground: 150 20% 20%;
    --destructive: 0 50% 35%; 
    --destructive-foreground: 150 15% 90%;
    --border: 150 25% 45%;
    --input: 150 20% 30%;
    --ring: 160 30% 50%;   
    --radius: 0.5rem; 
    --scrollbar-track: 150 40% 85%;
    --scrollbar-thumb: 150 35% 60%;
    --scrollbar-thumb-hover: 150 35% 50%;
  }

  .cyber {
    --background: 265 30% 7%;
    --foreground: 0 0% 95%;
    --card: 265 30% 10%;
    --card-foreground: 0 0% 96%;
    --popover: 265 30% 12%;
    --popover-foreground: 0 0% 90%;
    --primary: 305 94% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 100% 60%;
    --secondary-foreground: 0 0% 100%;
    --muted: 265 15% 15%;
    --muted-foreground: 0 0% 80%;
    --accent: 270 80% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 90% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 265 20% 25%;
    --input: 265 20% 20%;
    --ring: 305 100% 60%;
    --radius: 0.25rem;
    --scrollbar-track: 265 30% 12%;
    --scrollbar-thumb: 305 94% 42%;
    --scrollbar-thumb-hover: 305 94% 52%;
  }
  
  .cloud {
    --background: 222 100% 95%;
    --foreground: 222 5% 10%;
    --card: 222 50% 90%;
    --card-foreground: 222 5% 15%;
    --popover: 222 100% 95%;
    --popover-foreground: 222 100% 10%;
    --primary: 222 45% 72%;
    --primary-foreground: 0 0% 0%;
    --secondary: 222 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 222 30% 85%;
    --muted-foreground: 222 5% 35%;
    --accent: 222 30% 80%;
    --accent-foreground: 222 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 222 5% 90%;
    --border: 222 30% 50%;
    --input: 222 30% 26%;
    --ring: 222 45% 72%;
    --radius: 1rem;
    --scrollbar-track: 222 50% 90%;
    --scrollbar-thumb: 222 45% 62%;
    --scrollbar-thumb-hover: 222 45% 52%;
  }

  .sunset {
  --background: 336 13.51% 14.51%;
  --foreground: 21.43 35.00% 92.16%;
  --card: 324 9.62% 20.39%;
  --card-foreground: 21.43 35.00% 92.16%;
  --popover: 324 9.62% 20.39%;
  --popover-foreground: 21.43 35.00% 92.16%;
  --primary: 11.63 100% 68.63%;
  --primary-foreground: 0 0% 100%;
  --secondary: 325 9.38% 25.10%;
  --secondary-foreground: 21.43 35.00% 92.16%;
  --muted: 324 9.62% 20.39%;
  --muted-foreground: 22.22 25.23% 79.02%;
  --accent: 26.11 98.50% 73.92%;
  --accent-foreground: 336 13.51% 14.51%;
  --destructive: 355.49 77.58% 56.27%;
  --destructive-foreground: 0 0% 100%;
  --border: 325 9.38% 25.10%;
  --input: 325 9.38% 25.10%;
  --ring: 11.63 100% 68.63%;
  --chart-1: 11.63 100% 68.63%;
  --chart-2: 26.11 98.50% 73.92%;
  --chart-3: 23.86 100.00% 82.75%;
  --chart-4: 16.07 100% 78.04%;
  --chart-5: 9.58 54.84% 57.45%;
  --sidebar: 336 13.51% 14.51%;
  --sidebar-foreground: 21.43 35.00% 92.16%;
  --sidebar-primary: 11.63 100% 68.63%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 26.11 98.50% 73.92%;
  --sidebar-accent-foreground: 336 13.51% 14.51%;
  --sidebar-border: 325 9.38% 25.10%;
  --sidebar-ring: 11.63 100% 68.63%;
  --radius: 0.625rem;
  --shadow-2xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 6px 12px -3px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
  --shadow: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 1px 2px -4px hsl(0 0% 0% / 0.09);
  --shadow-md: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 2px 4px -4px hsl(0 0% 0% / 0.09);
  --shadow-lg: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 4px 6px -4px hsl(0 0% 0% / 0.09);
  --shadow-xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.09), 0px 8px 10px -4px hsl(0 0% 0% / 0.09);
  --shadow-2xl: 0px 6px 12px -3px hsl(0 0% 0% / 0.22);
  --scrollbar-track: 336 13.51% 14.51%;
  --scrollbar-thumb: 11.63 100% 68.63%;
  --scrollbar-thumb-hover: 11.63 100% 68.63%;
  }

  .forest {
    --background: 220 25% 8%;       
    --foreground: 120 15% 85%;      
    --card: 200 20% 12%;              
    --card-foreground: 120 15% 85%;   
    --popover: 220 25% 8%;             
    --popover-foreground: 120 15% 85%; 
    --primary: 140 30% 45%;            
    --primary-foreground: 35 25% 95%;  
    --secondary: 160 15% 25%;          
    --secondary-foreground: 35 25% 95%; 
    --muted: 200 20% 15%;             
    --muted-foreground: 120 10% 75%;  
    --accent: 140 20% 35%;            
    --accent-foreground: 35 25% 95%; 
    --destructive: 0 50% 35%;         
    --destructive-foreground: 35 25% 95%; 
    --border: 200 20% 18%;             
    --input: 200 20% 18%;             
    --ring: 140 30% 45%;               
    --radius: 0.375rem;                
    --scrollbar-track: 200 20% 12%;    
    --scrollbar-thumb: 140 25% 35%;   
    --scrollbar-thumb-hover: 140 30% 40%; 
  }

  .amethyst {
    --background: 250.91 18.64% 11.57%;
    --foreground: 250.00 36.00% 90.20%;
    --card: 251.25 20% 15.69%;
    --card-foreground: 250.00 36.00% 90.20%;
    --popover: 251.25 20% 15.69%;
    --popover-foreground: 250.00 36.00% 90.20%;
    --primary: 263.08 32.50% 68.63%;
    --primary-foreground: 250.91 18.64% 11.57%;
    --secondary: 254.48 14.87% 38.24%;
    --secondary-foreground: 250.00 36.00% 90.20%;
    --muted: 254.12 20.99% 15.88%;
    --muted-foreground: 258.95 10.38% 64.12%;
    --accent: 271.76 15.60% 21.37%;
    --accent-foreground: 345.52 69.05% 83.53%;
    --destructive: 0 68.67% 67.45%;
    --destructive-foreground: 250.91 18.64% 11.57%;
    --border: 252 18.52% 21.18%;
    --input: 249.47 19.59% 19.02%;
    --ring: 263.08 32.50% 68.63%;
    --chart-1: 263.08 32.50% 68.63%;
    --chart-2: 345.52 69.05% 83.53%;
    --chart-3: 158.77 31.40% 59.41%;
    --chart-4: 35.76 76.74% 74.71%;
    --chart-5: 215.82 54.47% 75.88%;
    --sidebar: 252 20.00% 9.80%;
    --sidebar-foreground: 250.00 36.00% 90.20%;
    --sidebar-primary: 263.08 32.50% 68.63%;
    --sidebar-primary-foreground: 250.91 18.64% 11.57%;
    --sidebar-accent: 271.76 15.60% 21.37%;
    --sidebar-accent-foreground: 345.52 69.05% 83.53%;
    --sidebar-border: 249.47 19.59% 19.02%;
    --sidebar-ring: 263.08 32.50% 68.63%;
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
    --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
    --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
    --scrollbar-track: 250.91 18.64% 11.57%;
    --scrollbar-thumb: 263.08 32.50% 68.63%;
    --scrollbar-thumb-hover: 263.08 32.50% 68.63%;
  }

  .vintage {
    --background: 44.0000 42.8571% 93.1373%;
    --foreground: 28.5714 16.5354% 24.9020%;
    --card: 42.0000 100.0000% 98.0392%;
    --card-foreground: 28.5714 16.5354% 24.9020%;
    --popover: 42.0000 100.0000% 98.0392%;
    --popover-foreground: 28.5714 16.5354% 24.9020%;
    --primary: 30.0000 33.8710% 48.6275%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40.6452 34.8315% 82.5490%;
    --secondary-foreground: 28.9655 18.7097% 30.3922%;
    --muted: 39 34.4828% 88.6275%;
    --muted-foreground: 32.3077 18.4834% 41.3725%;
    --accent: 42.8571 32.8125% 74.9020%;
    --accent-foreground: 28.5714 16.5354% 24.9020%;
    --destructive: 9.8438 54.7009% 45.8824%;
    --destructive-foreground: 0 0% 100%;
    --border: 40.0000 31.4286% 79.4118%;
    --input: 40.0000 31.4286% 79.4118%;
    --ring: 30.0000 33.8710% 48.6275%;
    --chart-1: 30.0000 33.8710% 48.6275%;
    --chart-2: 31.3846 29.9539% 42.5490%;
    --chart-3: 33.6842 32.9480% 33.9216%;
    --chart-4: 29.1176 30.9091% 56.8627%;
    --chart-5: 30 33.6842% 62.7451%;
    --sidebar: 39 34.4828% 88.6275%;
    --sidebar-foreground: 28.5714 16.5354% 24.9020%;
    --sidebar-primary: 30.0000 33.8710% 48.6275%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 42.8571 32.8125% 74.9020%;
    --sidebar-accent-foreground: 28.5714 16.5354% 24.9020%;
    --sidebar-border: 40.0000 31.4286% 79.4118%;
    --sidebar-ring: 30.0000 33.8710% 48.6275%;
    --radius: 0.25rem;
    --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 1px 2px -1px hsl(28 13% 20% / 0.12);
    --shadow-md: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 2px 4px -1px hsl(28 13% 20% / 0.12);
    --shadow-lg: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 4px 6px -1px hsl(28 13% 20% / 0.12);
    --shadow-xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.12), 2px 8px 10px -1px hsl(28 13% 20% / 0.12);
    --shadow-2xl: 2px 3px 5px 0px hsl(28 13% 20% / 0.30);
    --scrollbar-track: 42.0000 100.0000% 98.0392%;
    --scrollbar-thumb: 30.0000 33.8710% 48.6275%;
    --scrollbar-thumb-hover: 30.0000 33.8710% 48.6275%;
  }

  .bubblegum {
    --background: 330 47.0588% 93.3333%;
    --foreground: 0 0% 35.6863%;
    --card: 41.5385 92.8571% 89.0196%;
    --card-foreground: 0 0% 35.6863%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 35.6863%;
    --primary: 325.5814 57.8475% 56.2745%;
    --primary-foreground: 0 0% 100%;
    --secondary: 181.6901 43.5583% 68.0392%;
    --secondary-foreground: 0 0% 20%;
    --muted: 190.5263 58.7629% 80.9804%;
    --muted-foreground: 0 0% 47.8431%;
    --accent: 42.1429 91.3043% 81.9608%;
    --accent-foreground: 0 0% 20%;
    --destructive: 359.5652 92.0000% 70.5882%;
    --destructive-foreground: 0 0% 100%;
    --border: 325.5814 57.8475% 56.2745%;
    --input: 0 0% 89.4118%;
    --ring: 330 70.2381% 67.0588%;
    --chart-1: 330 70.2381% 67.0588%;
    --chart-2: 190.2128 61.8421% 70.1961%;
    --chart-3: 42.1429 91.3043% 81.9608%;
    --chart-4: 329.6386 77.5701% 79.0196%;
    --chart-5: 330.6294 64.1256% 56.2745%;
    --sidebar: 326.2500 69.5652% 90.9804%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 330.3659 81.1881% 60.3922%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 327.4074 87.0968% 81.7647%;
    --sidebar-accent-foreground: 0 0% 20%;
    --sidebar-border: 268.6957 100.0000% 95.4902%;
    --sidebar-ring: 330.3659 81.1881% 60.3922%;
    --font-sans: Poppins, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.4rem;
    --shadow-2xs: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 0.50);
    --shadow-xs: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 0.50);
    --shadow-sm: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 1px 2px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
    --shadow: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 1px 2px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
    --shadow-md: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 2px 4px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
    --shadow-lg: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 4px 6px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
    --shadow-xl: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 8px 10px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
    --shadow-2xl: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 2.50);
    --scrollbar-track: 41.5385 92.8571% 89.0196%;
    --scrollbar-thumb: 325.5814 57.8475% 56.2745%;
    --scrollbar-thumb-hover: 325.5814 57.8475% 56.2745%;
  }

  .perpetuity {
    --background: 196.3636 52.3810% 8.2353%;
  --foreground: 180 77.1144% 60.5882%;
  --card: 192 51.0204% 9.6078%;
  --card-foreground: 180 77.1144% 60.5882%;
  --popover: 192 51.0204% 9.6078%;
  --popover-foreground: 180 77.1144% 60.5882%;
  --primary: 180 77.1144% 60.5882%;
  --primary-foreground: 196.3636 52.3810% 8.2353%;
  --secondary: 191.4286 58.8785% 20.9804%;
  --secondary-foreground: 180 77.1144% 60.5882%;
  --muted: 192.8571 58.3333% 14.1176%;
  --muted-foreground: 180 50.6849% 42.9412%;
  --accent: 191.4286 58.8785% 20.9804%;
  --accent-foreground: 180 77.1144% 60.5882%;
  --destructive: 0 78.8991% 57.2549%;
  --destructive-foreground: 0 0% 94.9020%;
  --border: 191.4286 58.8785% 20.9804%;
  --input: 191.4286 58.8785% 20.9804%;
  --ring: 180 77.1144% 60.5882%;
  --chart-1: 180 77.1144% 60.5882%;
  --chart-2: 180 50.6849% 42.9412%;
  --chart-3: 180 50.8197% 35.8824%;
  --chart-4: 184.3478 57.9832% 23.3333%;
  --chart-5: 185.2174 62.1622% 14.5098%;
  --sidebar: 196.3636 52.3810% 8.2353%;
  --sidebar-foreground: 180 77.1144% 60.5882%;
  --sidebar-primary: 180 77.1144% 60.5882%;
  --sidebar-primary-foreground: 196.3636 52.3810% 8.2353%;
  --sidebar-accent: 191.4286 58.8785% 20.9804%;
  --sidebar-accent-foreground: 180 77.1144% 60.5882%;
  --sidebar-border: 191.4286 58.8785% 20.9804%;
  --sidebar-ring: 180 77.1144% 60.5882%;
  --font-sans: Source Code Pro, monospace;
  --font-serif: Source Code Pro, monospace;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.125rem;
  --shadow-2xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.10);
  --shadow-xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.10);
  --shadow-sm: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 1px 2px -1px hsl(180 70% 60% / 0.20);
  --shadow: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 1px 2px -1px hsl(180 70% 60% / 0.20);
  --shadow-md: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 2px 4px -1px hsl(180 70% 60% / 0.20);
  --shadow-lg: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 4px 6px -1px hsl(180 70% 60% / 0.20);
  --shadow-xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.20), 1px 8px 10px -1px hsl(180 70% 60% / 0.20);
  --shadow-2xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.50);
    --scrollbar-track: 180 23.8095% 95.8824%;
    --scrollbar-thumb: 183.9706 91.8919% 29.0196%;
    --scrollbar-thumb-hover: 183.9706 91.8919% 29.0196%;
  }


  * {
    @apply border-border;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background text-foreground antialiased min-h-screen selection:bg-primary/20;
  }

  * {
    @apply border-border outline-ring/50;
    font-family: 'Geist', sans-serif;
  }
  
  code, pre, kbd, samp {
    font-family: 'GeistMono', monospace;
  }
  
  .font-mono {
    font-family: 'GeistMono', monospace;
  }

  /* ---------- scrollbar styles ---------- */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[hsl(var(--scrollbar-track))];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[hsl(var(--scrollbar-thumb))] 
           rounded-full 
           transition-colors 
           duration-200;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[hsl(var(--scrollbar-thumb-hover))];
  }
}

/* ---break---*/

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
